$cow-color = #ff

body
  display: flex
  justify-content: center
  align-items: center

pre
  color $cow-color
  text-shadow 1px 1px 3px rgba(0, 0, 0, 0.7)

.container
  padding 50px
  text-align: center
  background url('../img/grass-bg.jpg') no-repeat
